.form-input {
  margin: 10px 0px;
}
.category {
  display: flex;
  align-content: center;
}
.category > p {
  margin: 0px 5px 3px;
}
#category, #subcategory, #formats, .variants {
  padding: 20px 0px 10px;
}
.add-product-btn {
  margin: 10px 20px;
  position: sticky;
  bottom: 0px;
}
.add-product-btn > button {
    background-color: var(--green);
    color: var(--white);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 20px 0px 10px;
}
