.form-input {
  margin: 10px 0px;
}
.category {
  display: flex;
  align-content: center;
}
.category > p {
  margin: 0px 5px 0px;
}
#category, #subcategory, #formats, .variants {
  padding: 20px 0px 10px;
}
.add-product-btn {
  margin: 10px 20px;
  position: sticky;
  bottom: 0px;
}
.add-product-btn > button {
    background-color: var(--green);
    color: var(--white);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 20px 0px 10px;
}
.spinner {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: fixed;
  background-color: #cbc9c95e;
}
.spinner-border {
  width: 50px;
  height: 50px;
}
