<app-menu-general></app-menu-general>
<div class="spinner d-flex align-items-center justify-content-center" *ngIf="showSpinner">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Saving...</span>
  </div>
</div>
<div class="add-product">
  <div class="title">
    <h1>Add Product</h1>
  </div>
  <!-- Form to save a product -->
  <form class="form">
    <!-- Product image -->
    <div class="form-img">
      <img id="previewImage" [src]="currentImage" alt="Image no available" class="img__image mx-auto d-block">
      <input type="file" accept="image/*" class="img__input" (change)="selectedImage($event)">
    </div>
    <!-- Product fields -->
    <div class="form-fields">
      <label for="name" class="form-label">Product name</label><br>
      <input type="text" id="name" maxlength="50" class="form-input" [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}">
      <label for="price" class="form-label">Price</label><br>
      <input type="number" id="price" max="1000" min="10" class="form-input" [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}">
      <label for="discount" class="form-label">Discount</label><br>
      <input type="number" id="discount" max="100" min="0" class="form-input" [(ngModel)]="product.discount" [ngModelOptions]="{standalone: true}">
      <label for="description" class="form-label">Description</label><br>
      <input type="text" id="description" maxlength="300" class="form-input" [(ngModel)]="product.description" [ngModelOptions]="{standalone: true}">
      <div id="category">
        <label for="category" class="subtitle">Category</label>
        <div class="category" *ngFor="let category of categoryList; let i=index">
          <input name="category" type="checkbox" (click)="addToArray(i, categoryList, categorySelected)">
          <p>{{category.name}}</p>
        </div>
      </div>
      <div id="formats">
        <label for="format" class="subtitle">Format</label>
        <div class="category" id="format" *ngFor="let format of formatList; let i=index">
          <input type="checkbox" (click)="addToArray(i, formatList, formatSelected)">
          <p>{{format.name}}</p>
        </div>
      </div>
      <div class="variants">
        <label for="variants" class="subtitle">Variants</label>
        <input id="variants" type="file" class="form-input" alt="Upload image" accept="image/png, image/jpeg, image/jpg, image/svg" multiple="true" (change)="selectedManyImages($event)">
      </div>
    </div>
  </form>
</div>

<p class="required-text text-center" *ngIf="!dataVerified">You must fill al fields</p>
<div class="add-product-btn">
  <button type="button" (click)="verifyData()">Save</button>
</div>
