<app-menu-general></app-menu-general>
<div class="add-product">
  <div class="title">
    <h1>Add Product</h1>
  </div>
  <!-- Form to save a product -->
  <form class="form">
    <!-- Product image -->
    <div class="form-img">
      <img src="../../../assets/unavailable.png" alt="Image no available" class="img__image mx-auto d-block">
      <input type="file" accept="image/png, image/jpeg, image/jpg, image/svg" class="img__input">
    </div>
    <!-- Product fields -->
    <div class="form-fields">
      <input type="text" placeholder="Product name" maxlength="50" class="form-input">
      <input type="number" placeholder="Price" max="1000" min="10" class="form-input">
      <input type="text" placeholder="Description" maxlength="300" class="form-input">
      <div id="category">
        <label for="category" class="subtitle">Category</label>
        <div class="category" id="category">
          <input type="checkbox">
          <p>Category</p>
        </div>
      </div>
      <div class="variants">
        <label for="variants" class="subtitle">Variants</label>
        <input id="variants" type="file" class="form-input" alt="Upload image" accept="image/png, image/jpeg, image/jpg, image/svg">
      </div>
    </div>
  </form>
</div>
