header {
  height: 10vh;
  background-color: var(--black);
  display: flex;
}
.icon-menu {
  padding: 3%;
  height: 90%;
  filter: invert(0.8);
}
.icon-menu:hover {
  cursor: pointer;
}
.menu-profile {
  text-align: right;
  width: 70vw;
}
.logo {
  background-image: url('../../../assets/banner-logo-white.jpeg');
  height: 40vh;
  background-size: cover;
}
.logo-social {
  padding: 10px;
}
.social__links {
  width: 8vw;
  margin: 10px;
}
