<!-- Main menu - Header -->
<header>
  <!-- Menu mobile -->
  <img src="./assets/menu.png" class="icon-menu">
  <!-- Search bar -->
  <nav class="navbar navbar-dark bg-dark">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </nav>
  <div class="menu-profile">
      <!-- Profile -->
      <img src="./assets/user.png" class="icon-menu">
      <!-- Cart -->
      <img src="./assets/cart.png" class="icon-menu">
  </div>
</header>
<!-- Logo -->
<section class="logo">
  <div class="d-flex justify-content-center logo-social">
      <img src="./assets/twitter.png" class="social__links">
      <img src="assets/facebook.png" class="social__links">
      <img src="assets/instagram.png" class="social__links">
      <img src="assets/gmail.png" class="social__links">
  </div>
</section>
