header {
  height: 7vh;
  background-color: var(--black);
  display: flex;
}
.icon-menu {
  padding: 3%;
  height: 90%;
  filter: invert(0.8);
}
.icon-menu:hover {
  cursor: pointer;
}
.menu-profile {
  text-align: right;
  width: 15vw;
  padding-right: 3%;
}
.menu-profile > a > img {
  padding: 15% 5%;
}
.logo {
  background-image: url('../../../assets/banner-logo-white.jpeg');
  height: 40vh;
  background-size: cover;
}
.logo-social {
  padding: 10px;
}
.social__links {
  width: 8vw;
  margin: 10px;
}
.dropdown-menu {
  background-color: var(--black);
}
.nav-link {
  width: 15vw;
}
.dropdown-item {
  color: var(--white);
}
.burger-menu {
  padding: 0%;
  margin: 0%;
}
.dropdown-item:hover {
  background-color: var(--grey);
}


