header {
  height: 8vh;
  background-color: var(--black);
  display: flex;
}
.icon-menu {
  height: 90%;
  filter: invert(0.8);
}
.icon-menu:hover {
  cursor: pointer;
}
.menu-profile {
  text-align: right;
  width: 15vw;
  padding-right: 3%;
}
.menu-profile > a > img {
  padding: 8px;
}
.dropdown-menu {
  background-color: var(--black);
}
.nav-link {
  height: 100%;
}
.dropdown-item {
  color: var(--white);
}
.burger-menu {
  padding: 0%;
  margin: 0%;
}
.dropdown-item:hover {
  background-color: var(--grey);
}
.navbar {
  width:100%;
}
.form-inline, .form-control {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .menu-profile {
    width: 10vw;
  }
}
