<app-menu-general></app-menu-general>
<div class="products">
  <!-- Product List -->
  <div class="product-list">
    <!-- Product item -->
    <div class="product-item">
      <!-- Product image -->
      <div class="product-image">
        <img src="../../../assets/products/product1.jpeg">
      </div>
      <!-- Product information -->
      <div class="product-info">
        <div class="product-name">
          <p>Product name</p>
        </div>
        <div class="d-flex justify-content-between product-extra">
          <!-- Product actions -->
          <div class="product-actions">
            <button type="button" class="button-bin">
              <img src="../../../assets/bin.png" class="actions__icon">
            </button>
          </div>
          <div class="product-price">
            <p>$price</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Buttons -->
  <div class="buttons">
    <div class="button-pay">
      <div class="pay-price">
          <p>Total $price</p>
      </div>
      <div class="pay-now">
          <button type="button">Pay now</button>
      </div>
    </div>
    <div class="continue-buying">
      <a routerLink="/home">
        <button type="button">Continue buying</button>
      </a>
    </div>
  </div>
</div>
<!-- Recommended -->
<div class="recommended">
  <h1>You may also like</h1>
  <app-recommended></app-recommended>
</div>
