.product-item {
  margin: 20px;
  padding: 10px;
  border: 1px solid var(--light-grey);
  border-radius: 5%;
  display: flex;
  max-height: 200px;
}
.product-image {
  width: auto;
  margin-right: 15px;
}
.product-image > img {
  height: 160px;
}
.product-info {
  width: 100%;
}
.product-name {
  font-size: 22px;
  color: var(--black);
  height: 40%;
}
.product-extra {
  height: 50%;
  align-items: flex-end;
}
.product-actions > button {
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin: 0px 3px;
}
.actions__icon {
  width: 30px;
  filter: invert(1);
}
.button-bin {
  background-color: var(--red);
}
.product-price > p {
  text-align: right;
  font-size: 20px;
  margin-bottom: 5px;
}
.buttons {
  position: sticky;
  bottom: 0px;
  padding: 1px 0px;
  background-color: var(--white);
}
.button-pay {
  margin: 0% 5%;
}
.pay-price {
  width: 95%;
  text-align: right;
}
.pay-price > p {
  font-size: 22px;
  color: var(--black);
}
.continue-buying {
  width: 90%;
  margin: 10px 5%;
}
.pay-now > button {
  background-color: var(--green);
  font-size: 22px;
  width: 100%;
}
.continue-buying > a > button {
  background-color: var(--light-green);
  font-size: 18px;
  width: 100%;
}
.pay-now > button, .continue-buying > a > button {
  color: var(--white);
  padding: 5px 0px;
  border: none;
  border-radius: 5px;
}
.recommended {
  margin: 15% 0%;
}
.recommended > h1 {
  margin-left: 5%;
  font-size: 1.5em;
}

@media screen and (min-width: 768px) {
  .products {
    display: flex;
    height: auto;
  }
  .product-list {
    width: 70%;
  }
  .product-info {
    width: 100%;
    padding-right: 10px;
  }
  .buttons {
    width: 30%;
    padding: 20px 0px;
    position: sticky;
    top: 0px;
    height: 100%;
  }
}
