.product-item {
  margin: 5%;
  padding: 3%;
  border: 1px solid var(--light-grey);
  border-radius: 5%;
  display: flex;
}
.product-image {
  width: 40%;
}
.product-image > img {
  width: 100%;
}
.product-info {
  margin-left: 5%;
  width: 60%;
}
.product-name {
  font-size: 1.3em;
  color: var(--black);
  height: 40%;
}
.product-extra {
  height: 50%;
  align-items: flex-end;
}
.product-actions > button {
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin: 0px 3px;
}
.actions__icon {
  width: 30px;
  filter: invert(1);
}
.button-pencil {
  background-color: var(--blue);
}
.button-bin {
  background-color: var(--red);
}
.product-price > p {
  text-align: right;
  font-size: 1.3em;
  margin-bottom: 10px;
}
.button-pay {
  margin: 5%;
}
.pay-price {
  width: 95%;
  text-align: right;
}
.pay-price > p {
  font-size: 1.3em;
  color: var(--black);
}
.continue-buying {
  width: 90%;
  margin: 5%;
}
.pay-now > button {
  background-color: var(--green);
  font-size: 1.3em;
  width: 100%;
}
.continue-buying > a > button {
  background-color: var(--light-green);
  font-size: 1em;
  width: 100%;
}
.pay-now > button, .continue-buying > a > button {
  color: var(--white);
  padding: 5px 0px;
  border: none;
  border-radius: 5px;
}
.recommended {
  margin: 15% 0%;
}
.recommended > h1 {
  margin-left: 5%;
  font-size: 1.5em;
}
