header {
  height: 7vh;
  background-color: var(--black);
  display: flex;
}
.icon-menu {
  padding: 3%;
  height: 90%;
  filter: invert(0.8);
}
.icon-menu:hover {
  cursor: pointer;
}
.menu-profile {
  text-align: right;
  width: 15vw;
  padding-right: 3%;
}
.dropdown-toggle {
  width: 22vw;
}
.menu-profile > a > img {
  padding: 15% 5%;
}
.logo-menu {
  filter: invert(0);
  width: 7vh;
  padding: 0%;
  margin-left: -50%;
}
.burger-menu {
  padding: 0%;
  margin: 0%;
}
.navbar {
  padding: 0%;
}
.dropdown-menu {
  background-color: var(--black);
}
.dropdown-item {
  color: var(--white);
}
.dropdown-item:hover {
  background-color: var(--grey);
}
