<!-- Main menu - Header -->
<header>
  <!-- Menu mobile -->
  <a class="nav-link dropdown-toggle menu-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="./assets/menu.png" class="icon-menu burger-menu">
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" routerLink="">Home</a></li>
    <li><a class="dropdown-item" routerLink="/cart">Cart</a></li>
    <li><a class="dropdown-item" routerLink="/notifications">Notifications</a></li>
    <!-- <li><a class="dropdown-item" routerLink="/chat">Chat</a></li> -->
    <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
    <li><a class="dropdown-item" routerLink="/admin" *ngIf="rol=='admin'">Manage products</a></li>
    <li><a class="dropdown-item" routerLink="/login" *ngIf="showLogin">Login</a></li>
  </ul>
  <!-- Logo -->
  <a routerLink="/home">
    <img src="../../../assets/PD-icon.png" class="logo-menu icon-menu">
  </a>
  <!-- Search bar -->
  <nav class="navbar">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </nav>
  <div class="menu-profile">
      <!-- Cart -->
      <a routerLink="/cart">
        <img src="./assets/cart.png" class="icon-menu">
      </a>
  </div>
</header>
