.user-information {
  margin: 5%;
}
.user-information > p {
  color: var(--black);
  font-size: 1.2em;
  margin-left: 3%;
}
.user-information > button {
  border: none;
  background-color: var(--blue);
  color: var(--white);
  padding: 5px;
  width: 100%;
}
.other {
  margin: 5%;
}
.other > a {
  display: block;
  margin: 3% 0%;
  color: var(--black);
  text-decoration: underline;
}
.logout > button {
  border: none;
  background-color: var(--red);
  color: var(--white);
  padding: 5px;
  width: 90%;
  margin: 5%  5% 10% 5%;
}
