<!-- Form -->
<div class="sign-up">
  <!-- Title -->
  <div class="title">
    <h1>Sign Up</h1>
  </div>
  <!-- Fields -->
  <form class="form">
    <label for="email" class="form-label">Email<span class="required" title="This field is required">*</span></label><br>
    <input type="email" id="email" class="form-input" required  [(ngModel)]="userFields.email" [ngModelOptions]="{standalone: true}"><br>
    <p class="required-text" *ngIf="email_req">This field is required</p>
    <p class="required-text" *ngIf="email_verify">Please, verify this field</p>
    <p class="required-text" *ngIf="email_registered">This email is already registered</p>

    <label for="c-email" class="form-label">Confirm Email<span class="required" title="This field is required">*</span></label><br>
    <input type="email" id="c-email" class="form-input" required [(ngModel)]="userFields.c_email" [ngModelOptions]="{standalone: true}"><br>
    <p class="required-text" *ngIf="c_email_req">This field is required</p>
    <p class="required-text" *ngIf="c_email_match">The email did not match</p>

    <label for="password" class="form-label">Password<span class="required" title="This field is required">*</span></label><br>
    <input type="password" class="form-input" required [(ngModel)]="userFields.password" [ngModelOptions]="{standalone: true}"><br>
    <p class="required-text" *ngIf="pass_req">This field is required</p>
    <p class="required-text" *ngIf="pass_char">Please, use numbers, uppercase, lowercase, special characters and from 8 to 16 characters</p>

    <label for="c-password" class="form-label">Confirm Password<span class="required" title="This field is required">*</span></label><br>
    <input type="password" class="form-input" required [(ngModel)]="userFields.c_password" [ngModelOptions]="{standalone: true}"><br>
    <p class="required-text" *ngIf="c_pass_req">This field is required</p>
    <p class="required-text" *ngIf="c_pass_match">The password did not match</p>

    <button type="button" (click)="verifyFields()">Login</button>
    <p class="required-text required-fields" *ngIf="fieldsVerified">Please, verify the fields</p>
    <div class="old-customer">
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
  </form>
  <hr class="divider">
  <div>
    <p>Or sign up with</p>
    <button class="login-with-btn" (click)="signUpWithGoogle()">
      <img src="../../../assets/google-icon.png" alt="Sign up with google" title="Sign up with Google">
    </button>
  </div>
</div>

