.sign-up {
  margin: 0% 5% 10%;
  text-align: center;
}
.sign-up > h1 {
  font-size: 22px;
}
.form {
  text-align: left;
  margin-top: 30px;
}
.form-label {
  font-size: 20px;
  margin-top: 10px;
}
.form > button {
  background-color: var(--green);
  color: var(--white);
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 10% 0% 2%;
}
.old-customer {
  text-align: center;
}
.old-customer > p > a {
  text-decoration: underline;
  font-style: italic;
  color: var(--black);
}
.divider {
  background-color: var(--grey);
  height: 2px;
  margin: 30px 0px;
}
.login-with-btn {
  background-color: transparent;
  border: none;
}
.login-with-btn > img {
  width: 50px;
  height: auto;
}
#verifyFields {
  margin-top: 0px;
}
.form-check {
  margin: 20px 5px 0px;
}
.form-check-label > a {
  color: var(--black);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .sign-up {
    margin: 0% 20%;
    margin-bottom: 100px;
  }
  .form > button {
    margin: 5% 10%;
    width: 80%;
  }
}
