.add-product-btn {
  margin: 10px 20px;
  position: sticky;
  bottom: 0px;
}
.add-product-btn > button {
    background-color: var(--green);
    color: var(--white);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10% 0% 2%;
}
