.product-item {
  margin: 5%;
  padding: 3%;
  border: 1px solid var(--light-grey);
  border-radius: 5%;
  display: flex;
}
.product-image {
  width: 40%;
}
.product-image > img {
  width: 100%;
}
.product-info {
  margin-left: 5%;
  width: 60%;
}
.product-name {
  font-size: 1.3em;
  color: var(--black);
  height: 40%;
}
.product-extra {
  height: 60%;
  align-items: flex-end;
}
.product-actions > button {
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  padding: 5px;
  margin: 0px 3px;
}
.actions__icon {
  width: 30px;
}
.product-price > p {
  text-align: right;
  font-size: 1.3em;
  margin-bottom: 10px;
}
