<!-- Product List -->
<!-- Product item -->
<div>
<!-- Product image -->
<div>
    <img src="#">
</div>
<!-- Product information -->
<div>
    <p>Product name</p>
</div>
<!-- Product actions -->
<div>
    <button type="button">Edit</button>
    <button type="button">Delete</button>
</div>
<div>
    <p>$price</p>
</div>
</div>
<!-- Buttons -->
<div>
<div>
    <button type="button">Pay now</button>
</div>
<div>
    <p>Total $price</p>
</div>
</div>
<div>
<button type="button" class="btn-block">Continue buying</button>
</div>
<!-- Recommended -->
<app-recommended></app-recommended>
