<app-menu-general></app-menu-general>
<div class="product-list">
  <div *ngIf="productList.length == 0" class="no-docs">
    <p>You don't have any product registered, click in the button below and add your first product! 👇</p>
  </div>
  <div class="product-ind" *ngFor="let product of productList; let i=index">
    <div class="product-img">
      <!-- Product image -->
      <div class="product-img">
        <img src={{product.image}} alt="Product image" title={{product.name}}>
      </div>
    </div>
    <!-- Product info -->
    <div class="product-info">
        <div class="product-details">
            <div class="details-name">
                <p>{{product.name}}</p>
            </div>
            <div class="details-price">
                <p>${{product.price}}</p>
            </div>
        </div>
        <!-- Product actions -->
        <div class="product-actions">
            <div class="actions-delete-modify">
                <img src="../../../assets/pencil.png" alt="Modify image" title="Modify image">
                <img src="../../../assets/bin.png" alt="Delete image" title="Delete image">
            </div>
            <div class="actions-visible">
                <p *ngIf="product.visible">Visible</p>
                <p *ngIf="product.visible == false">Hidden</p>
                <img *ngIf="product.visible" src="../../../assets/visible.png" alt="Product visible">
                <img *ngIf="product.visible == false" src="../../../assets/hidden.png" alt="Product hidden">
            </div>
        </div>
    </div>
  </div>
</div>
<div class="add-product" routerLink="/add-product">
  <button type="button">ADD</button>
</div>
