.product-list {
  margin: 15px;
}
.product-ind {
 display: flex;
 border-bottom: 2px solid var(--light-grey);
}
.product-img {
  width: 100%;
  display: flex;
  align-items: center;
}
.product-img > img {
  width: 100%;
  margin: 5px;
}
.product-info {
  width: 75%;
}
.product-info {
  margin: 5px;
}
.product-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.product-actions {
  display: inline-flex;
  width: 100%;
}
.actions-delete-modify, .actions-visible {
  display: flex;
  width: 100%;
}
.actions-delete-modify > img {
  height: 25px;
  margin: 0px 5px;
}
.actions-visible > img {
  height: 25px;
  margin: 0px 3px;
}
.add-product {
  margin: 10px 20px;
  position: sticky;
  bottom: 0px;
}
.add-product > button {
    background-color: var(--green);
    color: var(--white);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10% 0% 2%;
}
