<app-menu-general></app-menu-general>
<div class="product-list">
    <div class="product-ind">
        <!-- Product checkox -->
        <div class="checkbox">
            <input type="checkbox">
        </div>
        <!-- Product image -->
        <div class="product-img">
            <img src="../../../assets/products/product1.jpeg" alt="Product image" title="Product image">
        </div>
    </div>
    <!-- Product info -->
    <div class="product-info">
        <div class="produt-details">
            <div class="details-name">
                <p>Product Name</p>
            </div>
            <div class="details-price">
                <p>$$$</p>
            </div>
        </div>
        <!-- Product actions -->
        <div class="product-actions">
            <div class="actions-delete-modify">
                <img src="../../../assets/pencil.png" alt="Modify image" title="Modify image">
                <img src="../../../assets/bin.png" alt="Delete image" title="Delete image">
            </div>
            <div class="actions-visible">
                <p>Visible</p>
                <p>Hidden</p>
                <img src="../../../assets/visible.png" alt="Product visible">
                <img src="../../../assets/hidden.png" alt="Product hidden">
            </div>
        </div>
    </div>
</div>