<app-menu-home></app-menu-home>
<!-- Filters -->
<!-- Products -->
<div class="products-general">
  <div *ngIf="productList.length == 0" class="no-docs">
    <p>We are working on our new designs, please be patient 😁</p>
  </div>
  <div class="card" *ngFor="let product of productList" id={{product.id}}>
    <a routerLink="/product/{{product.id}}">
      <img src={{product.image}} class="card-img-top mx-auto d-block">
    </a>
      <div class="card-body">
        <a routerLink="/product/{{product.id}}">
          <h5 class="card-title">{{product.name}}</h5>
        </a>
        <p class="card-text">${{product.price}}</p>
        <a href="#" class="btn card-btn">Add to cart</a>
      </div>
  </div>
</div>
<div class="recommended">
  <h1>Recommended</h1>
  <app-recommended></app-recommended>
</div>
