a:hover {
    text-decoration: none;
}
.notification {
  display: flex;
  height: 12vh;
  padding: 10px;
  margin: 0px 5px;
  background-color: var(--light-blue);
  border: 1px solid var(--white);
  color: var(--black);
}
.notification-img {
  padding-right: 20px;
}
.notification-description > h3 {
  font-size: 22px;
}
.notification-description > p {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .notification {
    height: 90px;
    padding-left: 20px;
  }
}
