<app-menu-general></app-menu-general>
<div class="product">
  <div class="product-ind">
    <!-- Product image -->
    <section class="product-img">
      <img src="../../../assets/products/product1.jpeg" class="product-image">
    </section>
    <!-- Product variants -->
    <!-- <div>
      <img src="">
    </div> -->
  </div>
  <div class="information">
    <!-- Product information -->
    <div class="product-information">
      <h1 class="info-name">Product Name</h1>
      <h2 class="info-price">Price</h2>
      <p class="info-description">Taxes included</p>
    </div>
    <!-- Buttons -->
    <div class="buttons">
      <button type="button" class="btn-block btn-buy">BUY IT NOW</button>
      <button type="button" class="btn-block btn-add">ADD TO CART</button>
      <div class="dropdown">
          <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Details
          </button>
          <div class="dropdown-menu btn-block" aria-labelledby="dropdownMenuButton">
            <p>Product description</p>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- Share buttons -->
<div class="share">
  <h1>SHARE</h1>
  <div class="share-links">
      <img src="./assets/twitter.png" class="links__social">
      <img src="assets/facebook.png" class="links__social">
      <img src="assets/gmail.png" class="links__social">
  </div>
</div>
<div class="recommended">
  <h1>You may also like</h1>
  <app-recommended></app-recommended>
</div>
