.product-image {
  margin: 5vw;
  width: 90vw;
}
.product-information {
  padding: 5%;
  text-align: center;
}
.info-name {
  font-size: 1.5em;
}
.info-price {
  font-size: 2em;
}
.buttons {
  margin: 5%;
}
.btn-add, .btn-buy, .btn-dropdown {
  border: none;
  border-radius: 4%;
  color: var(--white);
  font-weight: 600;
  padding: 10px;
}
.btn-add {
  background-color: var(--light-green);
}
.btn-buy {
  background-color: var(--green);
}
.btn-dropdown {
  background-color: var(--blue);
  width: 100%;
  margin: 3% 0%;
}
.share {
  margin: 5%;
  margin-top: 10%;
}
.share > h1 {
  font-size: 1.5em;
}
.share-links {
  display: flex;
}
.links__social {
  margin: 10px;
  width: 30px;
}
.recommended {
  margin: 12% 0%;
}
.recommended > h1 {
  margin: 0% 5%;
  font-size: 1.5em;
}
