<!-- Recommended -->
<div>
  <h1>You may also like...</h1>
  <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">1</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">2</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">3</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">4</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">5</div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">6</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">7</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">8</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">9</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">10</div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">11</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">12</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">13</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">14</div>
            </div>
            <div class="col">
              <div class="bg-secondary py-4 text-white text-center">15</div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
