<router-outlet></router-outlet>
<!-- Footer -->
<footer>
  <div class="footer-menu">
    <h1>Footer Menu</h1>
    <hr>
    <a href="#" class="footer-link">About us</a>
    <a routerLink="/privacy-policy" class="footer-link">Privacy policy</a>
  </div>
  <div class="footer-follow">
    <h1>Follow Us</h1>
    <hr>
    <div class="footer-social">
      <img src="../../../assets/twitter.png" class="footer-social__link">
      <img src="../../../assets/facebook.png" class="footer-social__link">
      <img src="../../../assets/instagram.png" class="footer-social__link">
      <img src="../../../assets/gmail.png" class="footer-social__link">
    </div>
  </div>
</footer>
