<router-outlet></router-outlet>
<!-- Footer -->
<footer>
  <h1>Footer Menu</h1>
  <hr>
  <a href="#" class="footer-link">About us</a>
  <a href="#" class="footer-link">Privacy policy</a>
  <h1>Follow Us</h1>
  <hr>
  <div class="footer-social">
    <img src="../../../assets/twitter.png" class="footer-social__link">
    <img src="../../../assets/facebook.png" class="footer-social__link">
    <img src="../../../assets/instagram.png" class="footer-social__link">
    <img src="../../../assets/gmail.png" class="footer-social__link">
</div>
</footer>
