<app-banner></app-banner>
<!-- Form -->
<div class="sign-up">
  <!-- Title -->
  <div class="title">
    <h1>Sign Up</h1>
  </div>
  <!-- Fields -->
  <form class="form">
    <label for="name" class="form-label">Name<span class="required" title="This field is required">*</span></label><br>
    <input type="text" class="form-input" required [(ngModel)]="userFields.name" [ngModelOptions]="{standalone: true}"><br>
    <p class="required-text" *ngIf="name_req">This field is required</p>

    <label for="last_name" class="form-label">Last name<span class="required" title="This field is required">*</span></label><br>
    <input type="text" class="form-input" required  [(ngModel)]="userFields.last_name" [ngModelOptions]="{standalone: true}"><br>
    <p class="required-text" *ngIf="last_n_req">This field is required</p>

    <button type="button" (click)="verifyFields()">Save my data</button>
    <p class="required-text required-fields" *ngIf="fieldsVerified">Please, verify the fields</p>
</form>
