<app-menu-home></app-menu-home>
<!-- Form -->
<div class="login">
  <!-- Title -->
  <div class="title">
    <h1>Customer Login</h1>
  </div>
  <!-- Fields -->
  <form class="form">
    <label for="email" class="form-label">Email</label><br>
    <input type="email" id="email" class="form-input" required [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"><br>
    <label for="password" class="form-label">Password</label><br>
    <input type="password" id="password" class="form-input" required [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
    <div class="forgot">
      <p>Forgot your password?</p>
    </div>
    <button type="button" (click)="login(user)">Login</button>
    <div class="new-customer">
      <p>New customer? <a routerLink="/sign-up">Sign up</a></p>
    </div>
  </form>
  <hr class="divider">
  <div>
    <p>Or login with</p>
    <button class="login-with-btn" (click)="loginGoogle()">
      <img src="../../../assets/google-icon.png" alt="Login with google" title="Login with Google">
    </button>
  </div>
</div>
