.login {
  margin: 0% 5% 10%;
  text-align: center;
}
.login > h1 {
  font-size: 22px;
}
.form {
  text-align: left;
  margin-top: 30px;
}
.forgot {
    text-align: right;
}
.forgot > p {
  text-decoration: underline;
  font-style: italic;
}
.form > button {
  background-color: var(--green);
  color: var(--white);
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10% 0% 2%;
}
.new-customer {
  text-align: center;
}
.new-customer > p > a {
  text-decoration: underline;
  font-style: italic;
  color: var(--black);
}
.divider {
  background-color: var(--grey);
  height: 2px;
  margin: 30px 0px;
}
.login-with-btn {
  background-color: transparent;
  border: none;
}
.login-with-btn > img {
  width: 50px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .login {
    margin: 0% 20%;
    margin-bottom: 100px;
  }
  .form > button {
    margin: 5% 10%;
    width: 80%;
  }
}
