.login {
  margin: 0% 5% 10%;
  text-align: center;
}
.login > h1 {
  font-size: 1.3em;
}
.form {
  text-align: left;
  margin-top: 8%;
}
.form-label {
  font-size: 1em;
}
.form-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--light-grey);
  margin-bottom: 5%;
}
.forgot {
    text-align: right;
}
.forgot > p {
  text-decoration: underline;
  font-style: italic;
}
.form > button {
  background-color: var(--green);
  color: var(--white);
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 10% 0% 2%;
}
.new-customer {
  text-align: center;
}
.new-customer > p > a {
  text-decoration: underline;
  font-style: italic;
}
