.logo {
  background-image: url('../../../assets/banner-logo-white.jpeg');
  height: 40vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}
.logo-social {
  padding: 10px;
}
.social__links {
  width: 25px;
  margin: 10px;
}
