<app-menu-general></app-menu-general>
<!-- User information -->
<div class="user-information" *ngIf="logged">
  <p>{{user.name}} {{user.last_name}} </p>
  <p>User email</p>
  <button type="button">Change password</button>
</div>
<!-- Others -->
<div class="other" *ngIf="logged">
  <a href="#">Order history</a>
  <a href="#">Favorites</a>
  <a href="#">Configuration</a>
  <a href="#">Help</a>
</div>
<!-- No user logged -->
<div *ngIf="!logged" class="no-docs">
  <p>To access to your profile, first login clicking the button below 👇</p>
</div>

<!-- Button -->
<div class="logout">
  <button type="button" (click)="logout()" *ngIf="logged">Logout</button>
  <a routerLink="/login"><button type="button" *ngIf="!logged">Login</button></a>
</div>
