<!-- Product image -->
<section>
  <img src="">
</section>
<!-- Product variants -->
<div>
  <img src="">
</div>
<!-- Product information -->
<div>
  <h1>Product Name</h1>
  <h2>Price</h2>
  <p>Taxes included</p>
</div>
<!-- Buttons -->
<div>
  <button type="button" class="btn-block">ADD TO CART</button>
  <button type="button" class="btn-block">BUY IT NOW</button>
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu btn-block" aria-labelledby="dropdownMenuButton">
        <p>Product description</p>
      </div>
    </div>
</div>
<!-- Share buttons -->
<div>
  <h1>SHARE</h1>
  <div>
      <img src="./assets/twitter.png">
      <img src="assets/facebook.png">
      <img src="assets/instagram.png">
      <img src="assets/gmail.png">
  </div>
</div>
