<app-menu-home></app-menu-home>
<!-- Logo -->
<section class="logo">
  <div class="d-flex justify-content-center logo-social">
      <img src="./assets/twitter.png" class="social__links">
      <img src="assets/facebook.png" class="social__links">
      <img src="assets/instagram.png" class="social__links">
      <img src="assets/gmail.png" class="social__links">
  </div>
</section>
<!-- Filters -->
<!-- Products -->
<div class="card">
  <img src="../../../assets/products/product1.jpeg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">$$$</p>
    <a href="#" class="btn card-btn">Add to cart</a>
  </div>
</div>
<app-recommended></app-recommended>
