<app-menu-home></app-menu-home>
<!-- Filters -->
<!-- Products -->
<div class="card">
  <a routerLink="product">
    <img src="../../../assets/products/product1.jpeg" class="card-img-top mx-auto d-block">
  </a>
    <div class="card-body">
      <a routerLink="product">
        <h5 class="card-title">Card title</h5>
      </a>
      <p class="card-text">$$$</p>
      <a href="#" class="btn card-btn">Add to cart</a>
    </div>
</div>
<div class="recommended">
  <h1>Recommended</h1>
  <app-recommended></app-recommended>
</div>
