.logo {
  background-image: url('../../../assets/banner-logo-white.jpeg');
  height: 40vh;
  background-size: cover;
}
.logo-social {
  padding: 10px;
}
.social__links {
  width: 8vw;
  margin: 10px;
}
.card {
  width: 90%;
  margin: 5%;
}
.card-img-top {
  height: 200px;
  width: 200px;
  margin: 10px auto;
}
.card-title, .card-text {
  text-align: center;
}
.card-btn {
  background-color: var(--green);
  width: 100%;
  color: var(--white);
}
.recommended {
  margin: 10% 0%;
}
.recommended > h1 {
  font-size: 2em;
  margin-left: 5%;
}
