header {
  height: 10vh;
  background-color: var(--black);
  display: flex;
}
.icon-menu {
  padding: 3%;
  height: 90%;
  filter: invert(0.8);
}
.icon-menu:hover {
  cursor: pointer;
}
.menu-profile {
  text-align: right;
  width: 55vw;
}
