/* You can add global styles to this file, and also import other style files */
:root {
  --black: #000;
  --white: #fff;
  --light-grey: #c0c0c0;
  --green: #31936f;
  --light-green: #7fc899;
  --blue: #17a2b8;
  --light-blue: #e4f3fc;
}
