.about {
    min-height: 70vh;
    background-color: var(--beige);
    margin-top: 100px;
}
.about__background {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    /* z-index: -1; */
}
.background__text {
    color: var(--light-grey);
    font-size: 480px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
}
.about__description {
    padding: 40px;
    position: absolute;
}
.description__text {
    color: var(--black);
    font-size: 25px;
    line-height: 45px;
    text-align: center;
}
