.about {
    min-height: 70vh;
    background-image: url('../assets/work-background.png');
    background-repeat: round;
    background-position: center;
    position: relative;
    top: 100px;
    padding: 30px;
    overflow-y: scroll;
}
.about__description {
    padding: 40px;
    position: absolute;
}
.description__text {
    color: var(--black);
    font-size: 25px;
    line-height: 45px;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .about {
        top: 0px;
    }
}
