#footer {
    position: relative;
    top: 100px;
    z-index: -1;
}
.footer__title {
    background-color: var(--red);
    display: flex;
}
.title-text {
    margin: auto 10px auto auto;
    font-size: 20px;
}
.social {
    background-color: var(--beige);
    padding: 30px;
    margin: 0px
}
.social__title {
    text-align: center;
    font-size: 20px;
}
.social__links {
    text-align: center;
}
.social__links > a {
    text-decoration: none;
}
.links-img {
    height: 70px;
    margin: 5px;
    border-radius: 50%;
}
hr {
    margin: 25px auto;
    width: 30%;
    background-color: var(--black);
}
.credits {
    background-color: var(--black);
    padding: 30px 20px;
}
.credits__link {
    text-decoration: none;
    display: block;
    line-height: 40px;
}
