#main {
    background-color: var(--black);
    display: flex;
    flex-wrap: wrap;
}
.main__image {
    height: 65vh;
    max-width: 100%;
}
.main__image > img {
    max-height: 100%;
}
.main__text {
    display: flex;
}
.main__phrase {
    font-size: 15vh;
    line-height: 0px;
}
.phrase-right {
    text-align: right;
}