#main {
    background-color: var(--black);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 100px;
}
.main__image {
    height: 65vh;
    max-width: 100%;
}
.main__image > img {
    max-height: 100%;
}
.main__text {
    display: flex;
}
.main__phrase {
    font-size: 15vh;
    line-height: 0px;
}
.phrase-right {
    text-align: right;
}

@media screen and (max-width: 1250px) {
    .main__image, .main__text {
        margin: 0 auto;
        height: auto;
    }
    .main__image > img {
        width: 100%;
    }
}

@media screen and (max-width: 830px) {
    #main {
        top: 0px;
    }
}
